/*.grid-container-container {
    row-gap: 50%;
}


.grid-container-current {
    text-align: center;
    display: grid;
    gap: 10% 10%;
    grid-template-columns: auto auto auto auto
}
.grid-container-graph {
    display: grid;
    gap: 3% 3%;
    grid-template-columns: auto auto;
}



.Temperature {
    scale: 100%;
}
.WindSpeed {
    scale: 100%;
}
.Humidity {
    scale: 100%;
}
.AirPressure {
    scale: 100%;
}
.Rainfall {
    scale: 100%;
}
*/

.grid-container-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}


.grid-container-current {
  padding: 20px; /* Padding inside the card */
  color: rgb(1, 193, 175); /* Text color */
  font-size: 18px; /* Larger font size */
  display: flex; /* Flex layout to align items vertically */
  font-size: 100%;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center text horizontally */
}



.grid-container-graph {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid-container-graph div {
  /*background-color: rgba(1, 193, 175, 0.1);*/
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.grid-container-graph canvas {
  width: 100%;
  height: 100%;
  display: block;
}
